/* Variables
============================= */
@font-face {
	font-family: 'Source Sans Pro Regular';
	src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
	font-weight: var(--font-weight-regular);
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro Bold';
	src: url("fonts/SourceSansPro-Bold.otf") format("opentype");
	font-weight: var(--font-weight-bold);
	font-style: normal;
}

:root {
	--font-family-regular: 'Source Sans Pro Regular', sans-serif;
	--font-family-bold: 'Source Sans Pro Bold', sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--font-color: #FFFFFF;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Header
============ */

.header {
	position: absolute;
	z-index: 3;
	width: 100%;
	display: flex;
}

.header-content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
}

/* Navbar
============ */

.nav {
	display: flex;
	text-align: end;
}

.navbar-container {
    position: flex;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
}

.nav-items .nav-link {
	font-family: var(--font-family-bold);
	font-weight: var(--font-weight-bold);
	font-size: 14px;
	color: var(--font-color);
}

.nav .nav-items {
	margin: 0 0 0 2rem;
}

.nav-items {
	list-style: none;
}

.nav-items a {
	color: white;
	text-decoration: none;
}

.nav-items:hover a,
.nav-items:active a {
	color: #FF6565;
	text-decoration: none;
}

/* Menu icon
============ */

.menu-btn {
	display: none;
}

.menu-icon {
	display: none;
	cursor: pointer;
}

.navicon {
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 5px;
	position: relative;
}

.navicon:before,
.navicon:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: #FFF;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.navicon:before {
	top: -8px;
}

.navicon:after {
	top: 8px;
}

.menu-btn:checked + .menu-icon .navicon {
    background-color: transparent;
}

.menu-btn:checked + .menu-icon .navicon:before {
    transform: rotate(45deg);
    top: 0;
}

.menu-btn:checked + .menu-icon .navicon:after {
    transform: rotate(-45deg);
    top: 0;
}


@media (max-width: 480px) {
    .menu-icon {
        display: block;
		cursor: pointer;
    }
    .header-logo {
        flex: 1;
        text-align: center;
    }
    .nav {
        flex-direction: column;
        text-align: center;
        width: 100%;
		position: absolute;
		top: 100%;
		left: -10%;
		gap: 2rem;
    }
    .nav-items {
        margin: 1rem 0;
        width: 100%;
    }
    .navbar-container {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .menu-btn:checked ~ .navbar-container {
        display: block;
    }
}


/* Section heropage
============ */

.section.hero-page {
	height: 100vh;
	background-image: url("images/headphones_hero_1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: scroll;
}

.section.hero-page .section-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.section-body .heropage-button {
	background-color: #FF6565;
	border-radius: 25px;
	color: #FFFFFF;
	padding: 1rem 2rem;
	border: none;
	font-family: var(--font-family-bold);
	font-weight: var(--font-weight-bold);
	font-size: 14px;
	margin: 2rem;
}

.section-body .heropage-button:hover {
	opacity: 0.9;
}

.section-body .section-title {
	font-family: var(--font-family-bold);
	font-weight: var(--font-weight-bold);
	font-size: 32px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10rem;
	margin: 0;
}

.section-body .section-tagline {
	font-family: var(--font-family-bold);
	font-weight: var(--font-weight-bold);
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 0;
}

.section-body .section-describe {
	font-family: var(--font-family-regular);
	font-weight: var(--font-weight-regular);
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	width: 35%;
}

@media (max-width:480px) {
	.section-body .section-describe {
		width: 85%;
	}
}

body {
	margin: 0;
	padding: 0;
}
